h1 {
    font-family: serif;
  }
  
  .cover-new {
    height: 150%;
    width: 100%;
    background-image: url(/assets/new.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
  }
  
  .form-label {
    font-size: 20px;
  }
  
  .form-group {
    width: 600px;
  }

  .cover-index {
    height: 100%;
    width: 100%;
    background-image: url(/assets/index.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
  }
  
  .one-post img:hover {
    transform: scale(1.2,1.2);
  }

  .my-page .one-post {
    background-color: #f0f8ff; /* お好きな背景色に変更してください */
    padding: 10px; /* 任意でパディングを追加 */
    margin: 10px; /* 任意でマージンを追加 */
    border-radius: 5px; /* 任意で角を丸くする */
  }
  
  .user-page .one-post {
    background-color: #ffe4e1; /* お好きな背景色に変更してください */
    padding: 10px; /* 任意でパディングを追加 */
    margin: 10px; /* 任意でマージンを追加 */
    border-radius: 5px; /* 任意で角を丸くする */
  }
    
  .caption {
    color: black;
    font-size: 20px;
    text-decoration: none;
  }
  
  .index-left {
    margin-left: 2.5rem!important;
  }

  .page a,
  .next a,
  .last a,
  .first a,
  .prev a {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .page a:hover,
  .next a:hover,
  .last a:hover,
  .first a:hover,
  .prev a:hover {
    color: black;
  }
  
  .current {
    font-weight: bold;
  }
  
  .cover-show {
    height: 100%;
    width: 100%;
    background-image: url(/assets/show.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
  }
  
  #text {
    font-size: 18px;
  }
  
  .cover-edit {
    height: 150%;
    width: 100%;
    background-image: url(/assets/edit.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
  }

  .comments-index {
    background-color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 45%; /* 最大幅を設定 */
    word-wrap: break-word; /* 長い単語を折り返す */
  }
  
  .comment-delete {
    margin-left: auto;
  }

  .comments {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
  }

  .comment { 
    display: flex; 
    flex-direction: column; 
    margin-bottom: 10px;
  }

  .comment-user { 
    font-weight: bold; 
    margin-bottom: 5px;
  }

  .comment-text {
     margin: 0; 
  }
  
  .caption {
    margin-bottom: 0;
  }
  
  .favorite_btn {
    display: inline-block;
    margin-top: 10px; /* 上にマージンを追加して位置を調整 */
    margin-bottom: 10px; /* 下にマージンを追加して位置を調整 */
    color: #000;
  }
  
  .post-content {
    background-color: #f0f8ff; /* アリスブルーの背景色 */
    padding: 10px; /* 任意でパディングを追加 */
    margin: 10px; /* 任意でマージンを追加 */
    border-radius: 5px; /* 任意で角を丸くする */
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .main-content {
    display: flex;
    justify-content: space-between;
    width: 75%;
  }
  
  .posts {
    flex: 3;
  }
  
  .sidebar {
    flex: 1;
    position: relative; /* 相対位置を設定 */
    left: 180px; /* 左から120ピクセル移動させる */
    margin-top: 40px; /* 余白を追加 */
    align-self: flex-start; /* 上部に揃えるために追加 */
    background-color: #eae877; /* 背景色を追加 */
    padding: 10px; /* 余白を追加 */
    border-radius: 5px; /* 角を丸くする */
    width: auto; /* 幅を自動調整 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* 影を追加 */
  }

  .sidebar h2 {
    font-size: 1.5em; /* タイトルの文字サイズを大きくする */
    text-align: center; /* 中央揃えにする */
    margin-bottom: 20px; /* 下部余白を追加 */
  }
  
  .ranking-list {
    background-color: #ffffff;  /* ランキングリストの背景色 */
    border: 2px solid #333;     /* 枠線 */
    border-radius: 8px;         /* 枠線の角を丸く */
    padding: 20px;              /* 内側の余白 */
  }
  
  .ranking-item {
    font-size: 1.2em;           /* フォントサイズ */
    color: #333;                /* 文字の色 */
    margin: 10px 0;             /* 上下の余白 */
  }

  body:not(.top-page) h1 {
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
  }
  
  body:not(.top-page) h1:before,
  body:not(.top-page) h1:after {
    content: '';
    position: absolute;
    top: -7px;
    width: 2px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: black;
  }
  
  body:not(.top-page) h1:before {
    left: 7px;
  }
  
  body:not(.top-page) h1:after {
    right: 7px;
  }
  