.cover-user-show {
    height: 100%;
    width: 100%;
    background-image: url(/assets/mypage.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.cover-user-index {
    height: 100%;
    width: 100%;
    background-image: url(/assets/users.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.cover-user-edit {
    height: 100%;
    width: 100%;
    background-image: url(/assets/mypage_edit.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.profile {
    padding: 15px;
}

.follow-text {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    background-color: lightgray;
    transition: background-color 0.5s ease;
}

.follow-text:hover {
    background-color: darkgray;
  }

.chat-button-container {
    display: flex;
    justify-content: flex-end;
    width: 102%;
  }
  
.chat-button-size {
    width: 135px; /* チャットボタンの幅を設定 */
    height: 60px;
    text-align: center;
    display: inline-block;
    padding: 15px;
    font-size: 15px !important;
  }
  